body{

	margin: 0;
	padding: 0;
	/*background: white;*/
	/*background-color: black;*/
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	list-style: none;

}
header a{
	background-color: orange;
	width: 100%;
	height: 100%;
}

header ul{
	z-index: 100;
	/*background-color: rgb(0, 128, 0, .5);*/
	margin: 0;
	padding: 0;
	width: 100%;
}

header li{
	opacity: 100%;
	list-style-type: none;

	display: block;
	margin: auto;
	width: 25vw;
	text-decoration: none;
	padding: 2%;
	/*background-color: orange;*/
	
}

header .logo{
	z-index: 10;
	display: inline-block;
	margin: 0;
	width: 100%;
	text-indent: -10000px;
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-color: red;*/
	transition: 0.25s;

}

header .logo:hover{
	transform: scale(1.1);
	transition: 0.25s;
}

.banner-image{
	z-index: -100;
	position: absolute;
	top: 0;
	background-color: red;
	width: 100%;
	height: 50vw;
}
/* mobile styling */
@media only screen and (max-width: 100vh){
	body{
		transition: 0.5s;
	}
	.banner-image{
		background-color: blue;
		height: 100vw;
	}
	header li{
		width: 45vw;
	}

}