/*

Notes:
***DESKTOP***
Streamline code.
- Have the icon styling for the works icons be more versitile beyond only the works tab. That way the effect can be applied to other sections like the updates tab, gallery, shop,  ect.
- possibly redo site styling to be more efficient/ remove redundancies

make temp webpages for each works tab

make updates section 

have individual css pages for each group

***MOBILE NOTES***

Have the section hover effect work when on mobile (Have section be highlighted when active instead of hover)

Have animated background not read as a video on mobile


*/

@-ms-viewport{
	width: device-width;
  }

@keyframes transitionIN{
	from{
		opacity:0;
		transform: rotateX(-10deg);

	}

	to{
		opacity:1;
		transform: rotateX(0);
	}
}
html{
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}
.content{
	animation: transitionIN 0.75s;
}

.mobile_links{
	display: none;
}


body{

	margin: 0;
	padding: 0;
	background: white;
	background-color: black;
	font-family: 'Londrina Solid', cursive;
	/*font-family: 'Oswald', Arial, Helvetica, sans-serif;*/
	overflow-x: hidden;
	
}

.about_photo{
	margin: 0 20px;
	position: relative;
	display: inline-block;

	background-size: 325px;
	width: 350px;
	height: 100%;
	background-color: red;
}


.bg_image{
	top: -15vw;
	left: 0;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100vh;
	
	background-size: 100%;
	background-repeat: no-repeat;
}



.video-container{
	position: absolute;
	top: 0;
	width: 100vw;
	left: 0;
}

.color-overlay{
	z-index: 1;
	top: 0;
	left: 0;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}

/* HEADER */


header{
	
	/*position: sticky;*/
	position: fixed;
	z-index: 500;
	width: 100%;
	height: 100px;
	top: 0;

	margin: 0;
	padding: 0;

	background-image: linear-gradient( to right, #2F9AC4, #006d96);
	color: white;

	/*overflow: hidden;*/
		
}

header nav{
	top: 15px;
	height: 100px;
	width: 100%;
	padding: 0;
	margin:0;


	display: inline-block;
	position: relative;
	list-style: none;

	/*background-color: red;*/

}

.nav_links{
	margin: 0 0 0 330px ;
}

.nav_section{
	top: 20px;
	width: 94vw;
	padding: 0;


	display: block;
	position: absolute;
	list-style: none;
	/*background-color: rgb(0,0, 255, 0.5);*/
}

header ul{
	/*top: 15px;*/
	top: 0;
	margin: 0 0 0 3vw;
	padding: 0;



	display: inline-block;
	list-style: none;
	position: relative;

	/*background-color: pink;*/
}

 header li{

	top: 0;
	
	margin: 0 0 0 20px;

	padding: 0 ;

	display: inline-block;
	position: relative;

	/*background-color: purple;*/
}

header a{

	opacity: 0.7;

	margin: 0;

	display: inline-block;
	position: relative;

	text-decoration: none;
	transition: 150ms;
	font-size: 25px;
	
	/*font-family: 'Oswald';*/
	text-transform: Uppercase;
	/*letter-spacing: .1em;*/

	color: white;
	/*background-color: orange;*/
}

header ul:hover a{
	opacity: 0.7;
}

header li a:hover{
	opacity: 1;
}

.selected{
	opacity: 1;
}

header ul:hover .logo a{
	opacity: 1;
}

.social_icons{
	float: right;
	/*margin: 0 3vw 0 0;*/

}

header .logo{
	z-index: 1000;
	vertical-align: top;
	margin: 0;
	padding: 0 15px 0 0;
	width: 320px;
	height: 70px;
}

header .logo a{
	opacity: 1;
	padding: 0;
	margin: 0;

	display: block;

	background-image: url("logo.png");
	
	background-repeat: no-repeat;
	position: absolute;
	
	background-size: 100%;
	top: 2%;
	left: 2%;
	width: 96%;
	height: 96%;
	text-indent: -5000px;
	/*background-color: green;*/
	transition: 150ms;
}

.logo a:hover{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 150ms;
	
}


header .icon{
	margin: 6px 0;
	padding: 0 0 0 15px;
	width: 20px;
	height: 20px;
}


header .icon a{

	display: block;

	opacity: 1;

	background-repeat: no-repeat;
	position: absolute;

	background-size: 20px;
	width: 20px;
	height: 20px;


	text-indent: -5000px;

}

 .youtube a{
	background-image: url("yt_icon_mono_dark_Fit.png");

}

.twitter a{
	background-image: url("Twitter_icononly_white.png");

}

.instagram a{
	background-image: url("instagram_white.png");

}

.patreon a{
	background-image: url("Patreon_Mark_White.png");

}

.tabs{
	margin: 0;
	display: block;
	text-align: center;
	background-color: rgb(0,0,0,0.8); 

	overflow: hidden;
}





/* FOOTER */

footer{
	/*top: 100%;*/
	display: block;
	position: absolute;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: black;
	color: white;
}

footer ul{
	margin: 0;
	padding: 0;

	display: block;
	list-style: none;
	position: relative;
}

footer li {

	display: block;
	position: relative;

	text-decoration: none;
	transition: 150ms;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: .1em;

	color: white;

}

footer a{
	text-decoration: none;
	color: white;
	font-weight: normal;

}

footer .group, .link {
	margin: 10px 20px 10px 0;
	padding: 0px;

}

.group {
	opacity: 0.5;
	position: relative;
	display: inline-block;
	/*background-color: green;*/
}

.link {
	margin: 0;
	position: relative;
	display: inline-block;
	/*background-color: blue;*/
}

.link + .link ::before {
	content: "|";
	padding: 0 10px;
}

.footeralign{
	padding: 25px 0;
	margin: 0 10vw;
}


/* STORE */

.ecwid div, .ecwid span, .ecwid a, .ecwid p {
    color: #ffffff !important;
}

.ecwid {
	padding: 10px;
}

.store{
	display: flex;
	margin: 0 10vw;
	min-height: 400px;
	background-color: rgb(255,255,255, 0.7);
	opacity: 1;
	
}

/* WORKS */

.works {
	overflow: hidden;
	margin: 0 10vw;
	padding: 0 10px;
	/*width: 100vw;*/

	display: inline-block;
	position: relative;
	/*background-color: red; */
}

.works ul{
	left: -0.5vw;
	padding: 5px 0;
	display: inline-block;
	position: relative;
	margin: 0;
	/*background-color: green;*/
}

.works ul li{
	margin:  0 ;
	padding: 0;
	width: 12.5vw;
	height: 20vw;
	display: inline-block;
	position: relative;
	background-size: 40vw;
	/*background-color: blue; */
	transition: 150ms;
}

.works_link{
	border-radius: 10px;
	display: block;
	position: absolute;
	background-color: white;
	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	transition: 150ms;
	background-size: 100% 100%;
}

.works_link:hover{
	top: 0;
	left: 0;
	margin: 0 ;
	padding: 0;
	width: 100%;
	height: 100%;

}

.works_link a{
	opacity: 0;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.works_link:hover{
	transition: 150ms;
}

.description{
	/*visibility: hidden;*/
	display: inline-block;
	position: relative;
	max-width: 300px;
	min-width: 100px;
	margin: 20px;
	font-size: 18px;

	/*left: 105%;*/
	/*overflow: hidden;*/
	/*background-color: red;*/
	transition: 150ms;
}

.description p, h1{
	padding: 5px;
	margin:0;
}
.description p{
	text-align: justify;
	text-justify: inter-character;	
}

.description h1{
	font-size: 30px;
}



/* UPDATES */

.updates{
	background-color: red;

	margin: 0 10vw;
	padding: 0;


	display: inline-block;
	position: relative;
}

.updates ul li{
	margin:  0;
	padding: 0;
	width: 450px;
	height: 300px;
	display: inline-block;
	position: relative;
	background-size: 40vw;
	background-color: blue; 
	transition: 150ms;
}

.update_tab{

	background-color: green;

	border-radius: 10px;
	display: block;
	position: absolute;

	top: 2.5%;
	left: 2.5%;
	width: 95%;
	height: 95%;
	transition: 150ms;
	background-size: 100% 100%;
}

/* MISC. */

.padding{
	height:100px;
}

.vidWindow {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 35vw;
	position: relative;
}

video {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	position: relative;
}

.videos{
	padding:60px;
	margin: 0;
	background-color:green;
}


.contact{
	display: flex;
	position: relative;
	margin: 10px 10vw;
	background-color: rgb(255,255,255, 0.7);
	opacity: 1;
}


.contact-form{
	margin: 0 10vw;
	display: inline-block;
	width: 100%;

}

.text_inputs input{
	margin: 10px;
	width: 50vw;
	font-size: 20px;
	background: transparent;
	display: inline-block;
	flex-direction: column;
}

.video_icon1{
	background-image: url("Comp 1_1_00000.png");
}

.video_icon2{
	background-image: url("supermega.png");
}

.video_icon3{
	background-image: url("gamegrumps.png");
}

.title{
	margin: 10px 10vw 0 10vw;
	font-size: 25px;
	color: white;
	display:inline-block;
	/*background-color: green;*/

}
.title h2{
	letter-spacing: 2.5px;
	text-transform: Uppercase;
	opacity: 0.7;
	margin: 0;
	padding: 0;
	display: inline;
	/*background-color: blue;*/
	transition: 150ms;
}
.title a{
	text-decoration: none;
	color: white;
}

.title .desc{
	left: -10px;
	margin: 10px;
	opacity: 0;
	display: inline;
	text-align: right;
	/*background-color: red;*/
	transition: 500ms;
}

.section:hover h2, .video_tab:hover .video_info{
	opacity: 1;
	transition: 150ms;
}

.section:hover .desc{
	left: 0;
	opacity: 1;

	transition: 150ms;
}

.tag {
	background-color: rgb(235, 0, 0);
	color: white;
	box-shadow: 4px 4px white;

	font-weight: 900;
	z-index: 100;
	font-size: 20px;
	padding: 5px 10px;
	letter-spacing: 1px;
	margin: 0;
	position: absolute;
	display: inline-block;

	transition: 150ms;
}

li:hover .tag{
	background-color: rgb(235, 0, 0);
	color: white;
	box-shadow: 4px 4px white;
	opacity: 1;
	font-size: 22px;
	transition: 150ms;
}


.burger{
	display: none;
}

.overlay{
	z-index: 0;
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top:0;
	opacity: 0;
	background-color: white;
	transition: 0.5s ease-out;
}
.overlay_active{
	z-index: 400;
	opacity: 0.5;
}

/* THEME */

.theme_title{
	text-align: center;
	padding: 0;
	margin: 0 10vw;
	


	z-index: 100;
	color:#ffffff;
	/*background-color: red;*/
	position: absolute;
	list-style: none;
	font-size: 35px;
	left: 10px;
	filter: drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.7));

}

.theme_title li{
	margin: 20px 0;
	width: 40vw;
}



.theme_logo{
text-align: center;
	background-position: center;
	
	background-repeat: no-repeat;
	position: relative;
	
	background-size: contain;

	width: 35vw;
	text-indent: -5000px;
	/*background-color: green;*/
}

.title_gradient{
	z-index: 50;
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 25%,  rgba(0, 0, 0, 0) );
}

.line{
	background-color: white;
	height: 2px;
	font-size: 0;
	padding: 0;
	margin:0;
}

/* VIDEO TAB */

.video_tab{
	/*opacity: 0.7;*/
	margin: 1vw 10vw;
	color: white;
	/*background-color: green;*/
	width: 100vw;
	display: flex;
}

.video_info{
	margin:0;
	font-size: 25px;
	list-style: none;
	opacity: 0.7;
	transition: 150ms;

}

.video_player{
	width: 32vw;
	height:18vw;
}

@media screen and (max-width: 1600px){
	.works ul li{
		width: 195px;
		height: 300px;

	}

}


@media screen and (max-width: 1100px){

	.social_icons{
		margin: 0 0 0 350px ;
	}
	.nav_links{
		float: right;
	}

	.nav_section{
		top: 5px;
		/*width: 740px;*/
		height: 60px;
		padding: 0;
		/*background-color: rgb(0,0, 255, 0.5);*/
	}
	
	body{
		/*background-color: red;*/
		/*overflow-x: hidden;*/
	}


}

@media screen and (max-width: 830px){
	.title{
		font-size: 20px;
	}

	.overlay{
		display: block;
	}
	.contact{
		display: inline-block;
	}
	body{
		overflow-x: hidden;
	}
	.body_hidden{
		overflow-y: hidden;
	}

	header .logo{
		z-index: 1000;
		vertical-align: top;
		margin: 0;
		padding: 0 15px 0 0;
		width: 200px;
		height: 70px;
	}
	.description{
		width: 70vw;
	}
	.about_photo{
		width: 70vw;
	}

	.nav_section{
		left: 40vw;
		padding: 0;
		margin: 0;
		top: 55px;

		background-color: black;
		height: 100vh;
		width: 100vw;
		
		display: block;
		position: absolute;
		list-style: none;
		flex-direction: column;
		
		transform: translateX(100%);
		transition: transform 150ms ease-out;
	}


	.nav_links{
		float: none;
		position: relative;
		display: flex;
		flex-direction: column;

		/*background-color: green;*/
		margin: 0;
	}

	.nav_links li a{
		font-size: 25px;
		padding: 10px 0;
	}

	.social_icons{
		float: none;
		left: 5px;
		padding: 10px 0;
		margin: 0;
		
		position: relative;
		display: flex;

		/*background-color: orange;*/
	}

	.burger{
		float: right;

		top: 0;
		
		display: inline-block;
		margin: 0 3vw 0 0;
		width: 40px;
		height: 40px;
		background-color: white;
	}

	.burger:hover{
		cursor: pointer;
	}
/*
	.burger_line{
		padding: 0;
		margin: 0 0 5px 0;
		display: block;
		position: flex;
		width: 100%;
		height: 5px;
		background-color: white;
	}
*/
	body{
		/*background-color: green;*/
	}

	.links{
		/*display: none;*/
	}
	
	header{
		height: 70px;

	}
	.padding{
		height: 70px;
	}
/*
	nav{
		text-align: center;
		display: inline-block;
		position: relative;
	
	}*/
	.mobile_links{
		top: 25px;
		visibility: visible;
		width: 100%;
		padding: 0 0 0 3vw;
		margin: 0;
		text-align: center;
		display: inline-block;
		position: relative;
		overflow: hidden;
		/*background-color: rgb(0,0,0, 0.5);*/

	}

	.mobile_links li{
		margin: 10px 10px;

	}

	header a{
		font-size: 18px;
		/*background-color: black;*/
	}

	html{
		scroll-behavior: smooth;
		scroll-padding-top: 70px;
	}

	.works{

		/*background-color: green;*/
		overflow-x: auto;

	}
	.works ul li{
		width: 36.25vw;
		height: 58vw;

	}

}

.nav_active{
	transform: translateX(0%);
}

.page_header{
	/*padding: 40px 10vw;*/
	margin: 0;
	display: block;
	/*font-size: 20px;*/
	color: white;

	background-color: red;
	overflow: hidden;
	position: relative;
	width: 100vw;
	height: 100px;
}

.page_header h2, p{
	display: block;
	position: relative;
	z-index: 2;
}

.color-overlay{
	z-index: 1;
	top: 0;
	left: 0;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
}

.page_header{
	z-index: 1;
	background-image: none;
	position: relative;
	background-color: red;
	align-items: center;
}
